<div class="mainCat">
  <div>
    <div class="minHdr">
      <div class="inforDiv">
        <div id="ulDiv">
          <ul class="mainInfo">
            <li class="active">
              <p class="infoo" (click)="isProdClicked()"><a data-toggle="tab">Products</a></p>
            </li>
            <li class="inforWrite">
              <p class="infooo" (click)="isNewArrClicked()"><a data-toggle="tab">New Arrivals</a></p>
            </li>
          </ul>

        </div>

      </div>
    </div>

    <div class="" *ngIf="products">
      <app-products></app-products>
    </div>

    <div class="" *ngIf="newArrivals">
      <app-new-arrivals></app-new-arrivals>
    </div>

  </div>
</div>
