.brandNav {
  font-size: 35px;
}

mdb-navbar-brand {

}

.infor {
  padding-left: 10px;
  font-size: 20px;
}

.inforWrite {
  margin-right: 30px;
}

.login-btn {
  margin-right: 10px;
}

.signup-btn {
  background-color: rgb(95, 16, 16);
  margin-left: 10px;
}

button {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.page-footer {
  background-color: rgb(95, 16, 16);
}

.footerFeatures {
  display: flex;
  justify-content: center;
}
