.allMain {
  margin-left: 90px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.allMin {
  display: flex;
}

.sidebar {
  width: 40%;
  padding: 20px 40px 20px 40px;
}

.list-group-item {
  border: none;
}

.items.active {
  border-left: 2px solid rgb(95, 16, 16);
  background-color: white;
}

.sideTxt {
  padding: 10px 10px 10px 0px;
  font-size: 17px;
}

.bdyProd {
  margin-left: 10px;
}

.srchDiv {
  width: 90% !important;
  background-color: #F7F7F7;
  border: 1px solid #C4C7C8;
  border-radius: 30px;
}

.srchh {
  font-size: 18px;
}

.srchIcon {
  margin-left: 20px;
}

.srchInp {
  padding-left: 10px;
  width: 90% !important;
  font-size: 17px;
}

.md-form input[type="text"]:not(.browser-default) {
  border-bottom: none;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

.menTitle, .tshirtTitle, .hoodieTitle, .longsleeveTitle {
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

.imgg {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 32px 32px 0; /* Some gutter */
}

.ImgnW {
  margin: 20px;
  cursor: pointer;
}

.ImgnW:hover {
  background-color: #F7F7F7;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.imgOnly {
  width: 100%;
  height: 230px;
  background-color: #f7f7f7;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}

.menTImg {
  height: 100%;
  padding: 0px 20px 0px 20px;
}

.imgWr {
  padding: 10px;
}

.infoImg {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
