<div class="allMain">
  <div class="allMin">
    <div class="sidebar">
      <div class="list-group padding-zero list-group-flush">
        <a (click)="isAllProdClicked()" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect items active" data-toggle="tab">
          <span class="hide-span sideTxt"> All Products</span>
        </a>
        <!-- <div class="divider"></div> -->
        <a (click)="isMenClicked()" routerLinkActive="active"
          class="list-group-item list-group-item-action waves-effect items" data-toggle="tab">
          <span class="hide-span sideTxt"> Men's Clothing</span>
        </a>
        <!-- <div class="divider"></div> -->
        <a (click)="isWomenClicked()" routerLinkActive="active"
          class="list-group-item list-group-item-action waves-effect items" data-toggle="tab">
          <span class="hide-span sideTxt"> Women's Clothing</span>
        </a>
        <!-- <div class="divider"></div> -->
        <a  routerLinkActive="active"
          class="list-group-item list-group-item-action waves-effect items" data-toggle="tab">
          <span class="hide-span sideTxt"> Best Sellers</span>
        </a>
      </div>
    </div>

    <div class="bdyProd">
      <div>
        <div class="srch">
          <form class="form-inline md-form form-sm">
            <div class="srchDiv">
              <div class="srchh">
                <mdb-icon fas icon="search" aria-hidden="true" class="srchIcon"></mdb-icon>
                <input class="form-control form-control-sm ml-3 srchInp" type="text" placeholder="Search for products, categories and new arrivals" aria-label="Search"
                  mdbInput>
              </div>
            </div>
          </form>
        </div>

        <div class="prodBody">
          <div class="menn">
            <div class="menTitle">
              <h2>
                Men's Clothing
              </h2>
            </div>

            <div class="menClothBody">
              <!-- t-shirts -->
              <div>
                <div class="tshirtTitle">
                  <h3>
                    T-shirts
                  </h3>
                </div>

                <div>
                  <div class="row">
                    <div *ngFor="let imagee of images">
                      <div routerLink="productDetails" class="ImgnW">
                        <div class="zoom imgOnly">
                          <img src={{imagee.imageSrc}} class="img-fluid menTImg">
                        </div>
                        <div class="imgWr">
                          <p class="infoImg">{{imagee.description}}</p>
                          <p>{{imagee.price}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- hoodies -->
              <div>
                <div class="hoodieTitle">
                  <h3>
                    Hoodies
                  </h3>
                </div>

                <div>
                  <div class="row">
                    <div *ngFor="let imagee of hoodies">
                      <div class="ImgnW">
                        <div class="zoom imgOnly">
                          <img src={{imagee.imageSrc}} class="img-fluid menTImg">
                        </div>
                        <div class="imgWr">
                          <p class="infoImg">{{imagee.description}}</p>
                          <p>{{imagee.price}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- long-sleeves -->
              <div>
                <div class="longsleeveTitle">
                  <h3>
                    Long-Sleeves
                  </h3>
                </div>

                <div>
                  <div class="row">
                    <div *ngFor="let imagee of longSleeves">
                      <div class="ImgnW">
                        <div class="zoom imgOnly">
                          <img src={{imagee.imageSrc}} class="img-fluid menTImg">
                        </div>
                        <div class="imgWr">
                          <p class="infoImg">{{imagee.description}}</p>
                          <p>{{imagee.price}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
