<div class="mainBody">

  <div class="mainDiv">
    <div class="mainDivWriteUp">

      <div class="createDiv">
        <p class="create">Create and sell custom products</p>
      </div>

      <div class="simpleDiv">
        <p class="simple">Simple setup to connect to 90+ print provider locations</p>
      </div>

      <div class="startDiv">
        <button class="btn-lg selling">
          Start selling
        </button>
      </div>

      <div class="features">
        <p>100% free</p>
        <p>.</p>
        <p>Easy to use</p>
        <p>.</p>
        <p>250+ products</p>
      </div>
    </div>

    <div class="mainDivPic">
      <div>
        <div class="">
          <img src="../../../assets/Images/mainImg.jpg" class="mainImg">
        </div>
      </div>
    </div>
  </div>

  <div class="secondDiv">
    <div class="row secondRow">
      <div class="col-md-4 midFeatures">
        <div class="iconDiv">
          <mdb-icon fas icon="tshirt" class="iconStyle"></mdb-icon>
        </div>

        <div class="writeDiv">
          <p>Create custom products</p>
        </div>

        <div>
          <p>
            Select from over 250+ different items. T-shirts, hoodies, mugs, bags, decor, stickers, and more.
          </p>
        </div>
      </div>

      <div class="col-md-4 midFeatures">
        <div class="iconDiv">
          <mdb-icon fas icon="store" class="iconStyle"></mdb-icon>
        </div>

        <div class="writeDiv">
          <p>Sell your products</p>
        </div>

        <div>
          <p>
            Simple setup with the most popular ecommerce platforms. Automatic syncing.
          </p>
        </div>
      </div>

      <div class="col-md-4 midFeatures">
        <div class="iconDiv">
          <mdb-icon fas icon="box-open" class="iconStyle"></mdb-icon>
        </div>

        <div class="writeDiv">
          <p>We handle fulfillment</p>
        </div>

        <div>
          <p>
            We manage printing and shipping with your custom branding.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="thirdDiv">
    <div class="thirdRow">
      <div class="thirdWrite">
        <p>Amazing products, ready for your design</p>
      </div>

      <div class="thirdWriteTwo">
        <p>Choose from 250+ custom products for your e-commerce store. Fulfilled by print providers around the world.</p>
      </div>

      <div>
        <div class="row">
          <div>
            <img src="../../../assets/Images/Custom-tshirts-from-print-on-demand-platform-Printify-.jpg" class="thirdImg">
            <div>
              <p class="imgWriteOne">T-shirts</p>
              <p class="imgWriteTwo">50+ products</p>
            </div>
          </div>

          <div>
            <img src="../../../assets/Images/Hoodie-from-Printify.jpg" class="thirdImg">
            <div>
              <p class="imgWriteOne">Hoodies</p>
              <p class="imgWriteTwo">30+ products</p>
            </div>
          </div>

          <div>
            <img src="../../../assets/Images/Pom-Pom-Beanie-from-Printify.jpg" class="thirdImg">
            <div>
              <p class="imgWriteOne">Accessories</p>
              <p class="imgWriteTwo">40+ products</p>
            </div>
          </div>

          <div>
            <img src="../../../assets/Images/Mugs-Printify.jpg" class="thirdImg">
            <div>
              <p class="imgWriteOne">Mugs</p>
              <p class="imgWriteTwo">15+ products</p>
            </div>
          </div>

          <div>
            <img src="../../../assets/Images/Phone-cases-by-Printify.jpg" class="thirdImg">
            <div>
              <p class="imgWriteOne">Phone Cases</p>
              <p class="imgWriteTwo">15+ products</p>
            </div>
          </div>
        </div>
      </div>

      <div class="thirdBtn">
        <div class="thirdBtnAll">
          <p class="allProd"> All products</p>
        </div>
      </div>


    </div>

  </div>

  <div class="fourthDiv">
    <div class="fourthRow">
      <div class="fourthWrite">
        <p>One solution for all your needs</p>
      </div>

      <div class="row">
        <div class="col-md-4 midFeatures">
          <div class="iconDiv">
            <mdb-icon fas icon="tshirt" class="iconStyle"></mdb-icon>
          </div>

          <div class="writeDiv">
            <p>250+ unique products</p>
          </div>

          <div>
            <p>
              T-shirts, hoodies, shoes, bags, socks, hats, phone cases, mugs, stickers, and more.
            </p>
          </div>
        </div>

        <div class="col-md-4 midFeatures">
          <div class="iconDiv">
            <mdb-icon fas icon="tshirt" class="iconStyle"></mdb-icon>
          </div>

          <div class="writeDiv">
            <p>Mockup Generator</p>
          </div>

          <div>
            <p>
              Create products with ease and publish mockups with custom designs.
            </p>
          </div>
        </div>

        <div class="col-md-4 midFeatures">
          <div class="iconDiv">
            <mdb-icon fas icon="box-open" class="iconStyle"></mdb-icon>
          </div>

          <div class="writeDiv">
            <p>Manual orders</p>
          </div>

          <div>
            <p>
              Manually submit orders and we’ll print and ship to your customers.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

